.card-education::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  top: -1px;
  left: -9px;
  background-color: #33cf86;
  z-index: 1000;
}

/* `xs` returns only a ruleset and no media query */
/* 
 { 
  
 } */

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  
 }

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  .text-hero, .icon-hero, .image-hero {
    padding: 1rem;
  }

  .text-hero {
    top: 24px !important; 
  }
  
  .wrap-text-hero, .wrap-image-hero {
    height: 400px !important;  
  }

  .image-hero img {
    width: 100vw !important;
  }

  .icon-hero {
    bottom: 24px !important;
  }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  
  .wrap-text-hero {
    order: 1;
  }
  
  .image-hero {
    top: 50% !important;
    right: 50% !important;
    transform: translate(50%, -50%) !important;
    padding: 0 !important;
  }
 }

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
  
 }

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
  
 }